<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Tâches</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Accueil</a>
            </li>
            <li class="breadcrumb-item active">Tâches</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Les tâches</h2>
          </div>
          <mat-tab-group dynamicHeight>
            <mat-tab label="Liste d'attente">
              <div class="body">
                <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                  <ng-container *ngIf="firstTask && firstTask.length > 0">
                    <li class="app-list" *ngFor="let task of firstTask">
                      <!-- Contenu du premier élément -->
                      <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                      <div class="set-flex" *ngIf="task.name !== null">
                        <div class="media-title text-muted mb-0">Tâche</div>
                        <div class="media-title font-16">{{task.name}}</div>
                      </div>
                      <!-- Reste du contenu -->
                      <div class="set-flex" *ngIf="task.endDate !== null">
                        <div class="media-title text-muted mb-0">Date limite</div>
                        <div class="media-title font-16">{{task.endDate | date: 'dd/MM/yyyy'}}</div>
                        <div class="text-job text-muted mb-0">{{task.endDate | date: 'HH:mm:ss'}}</div>
                      </div>
                      <div class="set-flex" *ngIf="task.endDate === null">
                        <div class="media-title text-muted mb-0">Date limite</div>
                        <div class="media-title font-16">Pas de date limite</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Statut</div>
                        <div class="col-red">{{task.statut}}</div>
                      </div>

                      <div class="media-cta">
                        <td>
                          <button mat-icon-button class="btn btn-primary" (click)="marquerTacheCommeTraite(task.id)" matTooltip="Accepter">
                            <mat-icon>done</mat-icon>
                          </button>
                        </td>
                        <td>
                          <button mat-icon-button class="btn btn-warning" matTooltip="Rejeter">
                            <mat-icon>close</mat-icon>
                          </button>
                        </td>
                        <td *ngIf="task.action ==='demande'">
                          <button mat-icon-button class="btn btn-danger" (click)="openModal(modal)"  matTooltip="Ajouter une demande de congé">
                            <mat-icon>add</mat-icon>
                          </button>
                        </td>
                      </div>
                      <div *ngIf="isLoading" class="spinner">
                        <mat-spinner></mat-spinner>
                      </div>

                      <ng-template #modal let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">Demande de congé</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <mat-form-field class="example-full-width">
                              <mat-label>Commentaire</mat-label>
                              <input matInput [(ngModel)]="conge.commentaire" required>
                              <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Date de début</mat-label>
                              <input matInput type="datetime-local" [(ngModel)]="conge.dateDeb" required>
                              <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Date de fin</mat-label>
                              <input matInput type="datetime-local" [(ngModel)]="conge.dateFin" required>
                              <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                            <div class="example-full-width">
                              <div class="row">
                                <select [(ngModel)]="conge.type">
                                  <option value="paye">Congé payé</option>
                                  <option value="maladie">Congé de maladie</option>
                                  <option value="parental">Congé parental</option>
                                  <option value="sans-solde">Congé sans solde</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div *ngIf="task"></div>
                          <button mat-raised-button color="primary"
                            (click)="addAndAssignCongeToTask(task.id);modal.dismiss()">Ajouter </button>
                        </div>
                      </ng-template>
                    </li>
                  </ng-container>
                  <!-- Basic Card - With Colored -->
                  <div class="row clearfix" *ngIf="conges">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class="card">
                        <div class="header bg-red">
                          <h2>
                            Nom : {{ conges.responsable }}
                            <small>de {{ conges.dateDeb | date:'dd/MM/yyyy'}} jusqu'à {{ conges.dateFin |
                              date:'dd/MM/yyyy'}}</small>
                          </h2>

                        </div>
                        <div class="body">
                          <strong><div *ngIf="conges.type==='maladie'">Congé de maladie</div></strong>
                          <strong><div *ngIf="conges.type==='paye'">Congé payé</div></strong>
                          <strong><div *ngIf="conges.type==='parental'">Congé parental</div></strong>
                          <strong><div *ngIf="conges.type==='parental'">Congé sans solde</div></strong>

                          {{conges.commentaire}}
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- #END# Basic Card - With Colored -->
                 
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Historique">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="app-list" *ngFor="let task of tacheTraite">
                  <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Tâche</div>
                    <div class="media-title font-16">{{task.name}}</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Date limite</div>
                    <div class="media-title font-16">{{task.endDate | date: 'dd/MM/yyyy'}}</div>
                    <div class="text-job text-muted mb-0">{{task.endDate | date: 'HH:mm:ss'}}</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-green">{{task.statut}}</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Approbation</div>
                    <div class="media-title font-16">
                      {{task.approbation}}
                    </div>
                  </div>
                </li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>