<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Tâches</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Accueil</a>
            </li>
            <li class="breadcrumb-item active">Tâches</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Les tâches</h2>
          </div>
          <mat-tab-group dynamicHeight>
            <mat-tab label="Liste d'attente">
              <div class="body">
                <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                  <ng-container *ngIf="firstTask && firstTask.length > 0">
                    <li class="app-list" *ngFor="let task of firstTask">
                      <!-- Contenu du premier élément -->
                      <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                      <div class="set-flex" *ngIf="task.name !== null">
                        <div class="media-title text-muted mb-0">Tâche</div>
                        <div class="media-title font-16">{{task.name}}</div>
                      </div>
                      <!-- Reste du contenu -->
                      <div class="set-flex" *ngIf="task.endDate !== null">
                        <div class="media-title text-muted mb-0">Date limite</div>
                        <div class="media-title font-16">{{task.endDate | date: 'dd/MM/yyyy'}}</div>
                        <div class="text-job text-muted mb-0">{{task.endDate | date: 'HH:mm:ss'}}</div>
                      </div>
                      <div class="set-flex" *ngIf="task.endDate === null">
                        <div class="media-title text-muted mb-0">Date limite</div>
                        <div class="media-title font-16">Pas de date limite</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Statut</div>
                        <div class="col-red">{{task.statut}}</div>
                      </div>
             
                      <div class="media-cta">
                        <td>
                          <button mat-icon-button class="btn-tbl-confirm" (click)="marquerTacheCommeTraitee(task.id)">
                            <mat-icon>done</mat-icon>
                          </button>
                          <button mat-icon-button class="btn-tbl-reject">
                            <mat-icon>close</mat-icon>
                          </button>
                        </td>
                      </div>
                  </li>
                  </ng-container>
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Historique">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="app-list" *ngFor="let task of listTachetraite">
                  <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Tâche</div>
                    <div class="media-title font-16">{{task.name}}</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Date limite</div>
                    <div class="media-title font-16">{{task.endDate | date: 'dd/MM/yyyy'}}</div>
                    <div class="text-job text-muted mb-0">{{task.endDate | date: 'HH:mm:ss'}}</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-green">{{task.statut}}</div>
                  </div>
                   
                </li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>