<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Upcoming</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Upcoming Appointments</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Upcoming Appointments</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                      <li>
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab color="warn">
                            <mat-icon class="col-white">delete</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <div class="mat-elevation-z2 form-container">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>Saisir JSON</h2>
                    </div>
                    <div class="body">
                      <div class="example-container">
                        <form [formGroup]="jsonDataForm" (ngSubmit)="addJsonData()">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>JSON</mat-label>
                            <textarea matInput formControlName="jsonData" rows="5"></textarea>
                            <mat-error *ngIf="jsonDataForm.get('jsonData').invalid && jsonDataForm.get('jsonData').touched">
                              <div *ngIf="jsonDataForm.get('jsonData').hasError('required')">JSON Data is required.</div>
                              <div *ngIf="jsonDataForm.get('jsonData').hasError('invalidJson')">Invalid JSON format.</div>
                            </mat-error>
                          </mat-form-field>
                          <br>
                          <button mat-raised-button color="primary" type="submit" [disabled]="jsonDataForm.invalid">Submit</button>
                        </form>
                        
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>