<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Workflow</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a routerLink="/admin/workflow/viewWorkflow">Workflow</a>
            </li>
            <li class="breadcrumb-item active">Ajouter un workflow</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Ajouter un workflow</h2>

          </div>
          <div class="body">
              <div class="card">
                <div class="header">
                  <h2>Ajouter un workflow</h2>
                </div>
                <div class="body">
                  <div class="example-container">
                    <div class="row">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nom</mat-label>
                          <input matInput [(ngModel)]="workflow.name" required/>
                          <mat-icon matSuffix>face</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <mat-label>Description</mat-label>
                          <textarea matInput [(ngModel)]="workflow.description" required></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Choisir le déclencheur du workflow</mat-label>
                          <mat-select matNativeControl [(ngModel)]="workflow.declencheur">
                            <mat-option value="BD">Base de donnée</mat-option>
                            <mat-option value="Webhook">Webhook</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="workflow.declencheur === 'Webhook'" class="row">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>URL</mat-label>
                            <mat-icon matSuffix>link</mat-icon>
                            <input matInput [(ngModel)]="workflow.webhookUrl" required>
                          </mat-form-field>
                        </div>
                        <div *ngIf="workflow.declencheur === 'BD'" class="row">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>JDBC URL</mat-label>
                            <mat-icon matSuffix>link</mat-icon>
                            <input matInput [(ngModel)]="workflow.jdbcUrl" required placeholder="jdbc:mysql://localhost:3306/exempledb">
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Utilisateur</mat-label>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <input matInput [(ngModel)]="workflow.username " required>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Mot de passe</mat-label>
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                              {{ hidePassword ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                            <input matInput [(ngModel)]="workflow.password" required [type]="hidePassword ? 'password' : 'text'">
                          </mat-form-field>                  
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>SGBD</mat-label>
                            <mat-select matNativeControl [(ngModel)]="workflow.sgbd">
                              <mat-option value="mysql">MySQL</mat-option>
                              <mat-option value="postgres">PostgreSQL</mat-option>
                              <mat-option value="oracle">Oracle</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Table à écouter</mat-label>
                            <mat-select matNativeControl [(ngModel)]="workflow.tacheAecouter">
                              <mat-option *ngFor="let table of listTables" [value]="table">{{ table }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Evénement</mat-label>
                            <mat-select matNativeControl [(ngModel)]="workflow.evenement">
                              <mat-option value="Ajout">Ajout</mat-option>
                              <mat-option value="Modification">Modification</mat-option>
                              <mat-option value="Suppression">Suppression</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>  
                    <br>
                    <button mat-raised-button color="primary" (click)="addWorkflow()">Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>